### MIS-581 MIS581: Capstone â€“ Business Intelligence and Data Analytics
#### Week 6 Data Quality Analysis using Pandas 
#### Student: Robert Gregory

In [36]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

In [44]:
# Import the first dataset for data quality checks
test_df = pd.read_csv('COVID-19_Test_to_Treat_20230419.csv')
print(test_df.head())

                   Provider Name                       Address1 Address2  \
0         WALGREENS STORE #11795             3551 CASSOPOLIS ST      NaN
1         Walmart Pharmacy #3462  3245 LAWRENCEVILLE SUWANEE RD      NaN
2  NBH HC BLASDELL NBH HC OF WNY               4233 Lake Avenue      NaN
3                    DELTA DRUGS                437 FERNANDO CT      NaN
4       Woodland Urgent Care LLC              22341 W 8 Mile Rd      NaN

       City State    Zip        Last Report Date  \
0   ELKHART    IN  46514  04/17/2023 12:00:00 AM
1   SUWANEE    GA  30024  04/18/2023 12:00:00 AM
2  BLASDELL    NY  14219  04/16/2023 12:00:00 AM
3  GLENDALE    CA  91204  04/17/2023 12:00:00 AM
4   DETROIT    MI  48219  02/27/2023 12:00:00 AM

                                Public Website  Phone Number  \
0  https://www.walgreens.com/findcare/services           NaN
1               https://www.walmarthealth.com/           NaN
2                                          NaN  716-875-2904
3                                          NaN           NaN
4                                          NaN           NaN

                      Geopoint
0   POINT (-85.97459 41.73845)
1   POINT (-84.05069 34.03694)
2   POINT (-78.82231 42.79669)
3  POINT (-118.26141 34.12862)
4    POINT (-83.2633 42.44242)
            Provider Name                            Address1      Address2  \
0        COLLINWOOD DRUGS                        313 Hwy 13 S           NaN
1  WALGREENS STORE #04615                  13007 WARWICK BLVD           NaN
2   LAGUNA HILLS PHARMACY  24261 AVENIDA DE LA CARLOTA STE Q2           NaN
3        Rainbow Pharmacy                      431 7th Street           NaN
4        CVS Store #04007                      3925 Walnut St  CVS Pharmacy

           City             County State Code      Zip National Drug Code  \
0    Collinwood              Wayne         TN  38450.0      00069-1085-30
1  Newport News  Newport News City         VA  23602.0      00069-1085-30
2  Laguna Hills             Orange         CA  92653.0      00069-1085-30
3    Lanai City               Maui         HI  96763.0      00069-1085-30
4  Philadelphia                NaN         PA  19104.0      00069-1085-30

  Order Label  Courses Available              Geocoded Address           NPI  \
0    Paxlovid               19.0  POINT (-87.740841 35.170746)           NaN
1    Paxlovid               92.0  POINT (-76.513157 37.104505)  1.104831e+09
2    Paxlovid               10.0  POINT (-117.704105 33.60863)  1.184106e+09
3    Paxlovid               11.0   POINT (-156.91955 20.82636)  1.588051e+09
4    Paxlovid               16.0  POINT (-75.201455 39.954345)  1.801045e+09

         Last Report Date Provider Status Provider Note
0  04/10/2023 12:00:00 AM          ACTIVE           NaN
1  04/17/2023 12:00:00 AM          ACTIVE           NaN
2  04/17/2023 12:00:00 AM          ACTIVE           NaN
3  04/18/2023 12:00:00 AM          ACTIVE           NaN
4  04/18/2023 12:00:00 AM          ACTIVE           NaN

In [45]:
# Import the second dataset for data quality testing
train_df = pd.read_csv("COVID-19_Public_Therapeutic_Locator.csv")
print(train_df.head())

            Provider Name                            Address1      Address2  \
0        COLLINWOOD DRUGS                        313 Hwy 13 S           NaN
1  WALGREENS STORE #04615                  13007 WARWICK BLVD           NaN
2   LAGUNA HILLS PHARMACY  24261 AVENIDA DE LA CARLOTA STE Q2           NaN
3        Rainbow Pharmacy                      431 7th Street           NaN
4        CVS Store #04007                      3925 Walnut St  CVS Pharmacy

           City             County State Code      Zip National Drug Code  \
0    Collinwood              Wayne         TN  38450.0      00069-1085-30
1  Newport News  Newport News City         VA  23602.0      00069-1085-30
2  Laguna Hills             Orange         CA  92653.0      00069-1085-30
3    Lanai City               Maui         HI  96763.0      00069-1085-30
4  Philadelphia                NaN         PA  19104.0      00069-1085-30

  Order Label  Courses Available              Geocoded Address           NPI  \
0    Paxlovid               19.0  POINT (-87.740841 35.170746)           NaN
1    Paxlovid               92.0  POINT (-76.513157 37.104505)  1.104831e+09
2    Paxlovid               10.0  POINT (-117.704105 33.60863)  1.184106e+09
3    Paxlovid               11.0   POINT (-156.91955 20.82636)  1.588051e+09
4    Paxlovid               16.0  POINT (-75.201455 39.954345)  1.801045e+09

         Last Report Date Provider Status Provider Note
0  04/10/2023 12:00:00 AM          ACTIVE           NaN
1  04/17/2023 12:00:00 AM          ACTIVE           NaN
2  04/17/2023 12:00:00 AM          ACTIVE           NaN
3  04/18/2023 12:00:00 AM          ACTIVE           NaN
4  04/18/2023 12:00:00 AM          ACTIVE           NaN

In [48]:
# Iterating through the columns
for col in test_df.columns:
    print(col)
    
for col2 in train_df.columns:
    print(col2)

Provider Name
Address1
Address2
City
State
Zip
Last Report Date
Public Website
Phone Number
Geopoint
Provider Name
Address1
Address2
City
County
State Code
Zip
National Drug Code
Order Label
Courses Available
Geocoded Address
NPI
Last Report Date
Provider Status
Provider Note

In [10]:
# Adding a step to check for data types
data_types = pd.DataFrame(
    test_df.dtypes,
    columns=['Data Type']
)
print(data_types)

                 Data Type
Provider Name       object
Address1            object
Address2            object
City                object
State               object
Zip                  int64
Last Report Date    object
Public Website      object
Phone Number        object
Geopoint            object

In [49]:
# Doing a check for Completeness
completeness_check = pd.DataFrame(
    test_df.isnull().sum(),
    columns=['Missing Values']
)
print(completeness_check)

                  Missing Values
Provider Name                  0
Address1                       0
Address2                    1148
City                           0
State                          0
Zip                            0
Last Report Date              64
Public Website               533
Phone Number                2148
Geopoint                       0

In [50]:
# Doing a check for Uniqueness
uniqueness_check = pd.DataFrame(
    columns=['Unique Values']
)
for row in list(test_df.columns.values):
    uniqueness_check.loc[row] = [test_df[row].nunique()]

# print(uniqueness_check)

In [51]:
# Creating a quick visual report on KPIs for data quality
dq_report = data_types.join(completeness_check).join(uniqueness_check)
dq_report

                 Data Type  Missing Values  Unique Values
Provider Name       object               0           2484
Address1            object               0           2480
Address2            object            1148            137
City                object               0           1424
State               object               0             54
Zip                  int64               0           2141
Last Report Date    object              64             86
Public Website      object             533            492
Phone Number        object            2148            306
Geopoint            object               0           2450

In [52]:
dq_report['Missing Values'].mean()

389.3

In [53]:
test_data_prof = ProfileReport(test_df, title = "Single Report for Test to Treat Data")
test_data_prof.to_file(output_file='test_report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [54]:
train_data_prof = ProfileReport(train_df, title="Single Report for Public Therapeutic Locator Data")

comparison_report = train_data_prof.compare(test_data_prof)
comparison_report.to_file("comparison_report.html")

/Users/robertgregory/opt/anaconda3/lib/python3.9/site-packages/ydata_profiling/compare_reports.py:192: UserWarning: The datasets being profiled have a different set of columns. Only the left side profile will be calculated.
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]